/* 白天模式配色
[data-md-color-scheme="default"]{
    background-color: #dcf5fc;
    --md-header-fg-color: #FFFFFF;
    --md-primary-fg-color: #FFFFFF; 
    --md-footer-fg-color: #000000;
    --md-footer-bg-color: rgb(162, 226, 244);
    --md-footer-bg-color--dark:rgb(106, 216, 243);
    --md-footer-fg-color--light: #000000;
} */

/*白天模式配色*/
[data-md-color-scheme="default"] {
  --md-primary-fg-color: rgb(9, 136, 198);
  --md-primary-fg-color--dark: rgb(9, 136, 198);
  --md-primary-bg-color: #fafafa;
  --md-default-bg-color: rgba(255, 255, 255, 0.5);
  --md-footer-fg-color: #000000;
  --md-footer-bg-color: #e1eef6;
  --md-footer-bg-color--dark:rgb(159, 224, 252);
  --md-footer-fg-color--light: #000000;
  --md-footer-fg-color--lighter: #000000;
  --md-default-fg-color--lightest: rgba(0, 0, 0, 0.4);
  --md-typeset-a-color: rgb(9, 136, 198);
  --md-accent-fg-color:  rgb(162, 198, 229);
  --md-code-bg-color: rgb(245, 245, 245);
  --md-code-hl-name-color: #000;
  --md-code-hl-comment-color: #8b8d95;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, #5e9fbf29 0%, rgb(255 255 255) 100%);
}

/*黑夜模式配色*/
[data-md-color-scheme="slate"]{
  --md-default-bg-color: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
}

